<div class="row" >
    <div class="col-sm-12">

        <ag-grid-angular
            style="width: 100%; height: 500px;"
            class="ag-theme-alpine"
            [enableFilter]="true"
            [enableSorting]="true"
            [rowData]="products"
            [columnDefs]="productColumnDefs"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>
    </div>
</div>