<div class="row" >
    <div class="col-sm-3" *ngFor="let product of products">
        <div class="thumbnail item">
            <a href="#">
                <img src="../assets/prod/imgs/{{product.img}}" style="height:60%">
                <div class="caption caption-custom">
                    <p>{{product.name}}</p>
                    <p class="price">{{product.price |  currency:'VND'}}</p>
                </div>
            </a>
        </div>
    </div>
</div>