@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.title{
    color: white !important;
    margin: 0 0 0 0;
}

a{
    text-decoration: none !important;
}

.slogan{
    color: yellow;
}

.background-top{
    background-color:#ed1c24;
    padding: 0 0 0 0;
}

.item{
    background-color:white;
    height: 350px;
}

.caption-custom{
    color: white;
    color: #333;
}


.caption-custom>p.price{
    font-weight: bold;
    background-color: #ed1c24;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}


